@model ChangePasswordViewModel

@{
    ViewBag.Title = "Изменение пароля";
    Layout = "_Layout";
}
<h2 class="text-center">Изменение пароля для пользователя @Model.Email</h2>
<div class="text-danger text-center mb-3" asp-validation-summary="All"></div>
<div class="row align-items-start justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="ChangePassword" asp-controller="Users">
                    <div class="row align-items-start justify-content-center mb-3">
                        <label asp-for="NewPassword" class="col-sm-10 col-form-label">Новый пароль</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="NewPassword" class="form-control">
                        </div>
                    </div>
                    <div class="row align-items-start text-center justify-content-center mb-3">
                        <input type="submit" value="Сохранить" class="btn btn-primary">
                    </div>
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="Email">
                </form>
            </div>
        </div>
    </div>
</div>